@page "/"

<div class="d-flex flex-column w-100 h-100">
    <div class="d-flex flex-row gap-1 align-items-center w-100"
         id="statistics">
        <Card Style="width: 200px; margin-left: auto">
            <Statistic Title="Level"
                       Value="_level"
                       Precision="2"></Statistic>
        </Card>
        <Card Style="width: 200px">
            <Statistic Title="Rate"
                       Value="_rate"
                       Precision="4"></Statistic>
        </Card>
        <Card Style="width: 200px; margin-right: auto">
            <Statistic Title="Output"
                       Value="_output"
                       Precision="4"></Statistic>
        </Card>
    </div>

    <BlazorPlotView Height="100%"
                    Width="100%"
                    Model="@_plotModel"
                    TrackerEnabled="true"></BlazorPlotView>
</div>
