@inherits LayoutComponentBase

<Layout Style="min-height: 100vh;">
	<PageHeader Title="IFES"
	            Ghost="true">
		<PageHeaderExtra>
			<Button Icon="@IconType.Outline.Api"
			        Type="@ButtonType.Primary"></Button>
		</PageHeaderExtra>
	</PageHeader>
	<Content Style="padding: 1.5rem 3.125rem">
		@Body
	</Content>
	<Footer>
		
	</Footer>
</Layout>

@code {

}
